:root {
    --bg-color: #f0f4f8;
    --card-bg: #ffffff;
    --text-main: #2d3436;
    --accent: #0984e3;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    font-size: 3.5rem;
    margin: 2rem;
}

/* Search bar */

#search-form {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    column-gap: 0.5rem;
}

#search-input {
    padding: 0.8rem 1.2rem;
    border: 1px solid #dfe6e9;
    border-radius: 25px;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    width: 90%;
}

#search-btn {
    padding: 0.8rem 1.5rem;
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 700;
    transition: transform 0.1s ease;
}

#search-btn:active {
    transform: scale(0.95);
}

/* Main content */

#main-content {
    display: grid;
    grid-template-columns: 35% minmax(0, 1fr);
    background: var(--card-bg);
    padding: 1.25rem 1.25rem 0;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    width: 90%;
    max-width: 600px;
}

#card-header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

#location {
    margin: 0;
    font-size: 1.8rem;
}

#card-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-right: 1.25rem;
}

#weather-icon {
    font-size: 3rem; 
    color: var(--accent);
    padding-bottom: 1rem;
}

#current-temp {
    font-size: 2.5rem;
    white-space: nowrap;
}

.weather-detail {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 1rem 0;
    width: 100%;
    font-size: clamp(0.9rem, 4vw, 1.1rem);
}

.weather-detail:last-child {
    border-bottom: none;
}

/* Footer */

footer {
    margin-top: auto;
    padding: 2rem;
    font-size: 0.9rem;
}

footer a {
    color: var(--accent);
    text-decoration: none;
}